<!-- Be sure to use the path starting from the parent path.
     It seems it is mandatory that all custom elements sources the same
     polymer.html in terms of the path representation. -->
<link rel="import" href="../packages/polymer/polymer.html">
<meta charset="utf-8">
<polymer-element name="kcaa-equipmentlist" attributes="definitions">
  <template>
    <link rel="stylesheet" href="../kcaa.css">

    <div class="table">
      <div class="trow thead">
        <div class="description">装備</div>
        <div>火力</div>
        <div>命中</div>
        <div>雷装</div>
        <div>爆装</div>
        <div>対空</div>
        <div>対潜</div>
        <div>回避</div>
        <div>個数</div>
      </div>
      <template repeat="{{group in groups}}">
        <div class="trow">
          <div class="description header">
            <div class="title">
              {{group.name}}
              <button class="collapse" data-group="{{group.name}}"
                      on-click="{{toggleCollapseSection}}">►</button>
            </div>
          </div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <template if="{{!group.hidden}}">
          <template repeat="{{definition in group.definitions}}">
            <div class="trow">
              <div class="description">
                <div class="title">
                  <a href="#"
                     on-click="{{showModalDialog}}"
                     data-dialog="kcaaEquipmentDetailsDialog"
                     data-equipment-definition-id="{{definition.id}}">
                    {{definition.name}}
                  </a>
                </div>
                <div>{{definition.typeName}}</div>
              </div>
              <div class="numberColumn">{{definition.firepower}}</div>
              <div class="numberColumn">{{definition.fireHit}}</div>
              <div class="numberColumn">{{definition.thunderstroke}}</div>
              <div class="numberColumn">{{definition.bombPower}}</div>
              <div class="numberColumn">{{definition.antiAir}}</div>
              <div class="numberColumn">{{definition.antiSubmarine}}</div>
              <div class="numberColumn">{{definition.fireFlee}}</div>
              <div class="numberColumn">{{definition.instances.length}}</div>
            </div>
          </template>
        </template>
      </template>
    </div>
  </template>
  <script type="application/dart" src="equipmentlist.dart"></script>
</polymer-element>