<!-- Be sure to use the path starting from the parent path.
     It seems it is mandatory that all custom elements sources the same
     polymer.html in terms of the path representation. -->
<link rel="import" href="../packages/polymer/polymer.html">
<meta charset="utf-8">
<polymer-element name="kcaa-gauge">
  <template>
    <style>
      .gauge {
        background: linear-gradient(
          hsl(240, 20%, 95%),
          hsl(240, 40%, 60%) 45%,
          hsl(240, 40%, 40%) 55%,
          hsl(240, 60%, 70%));
        border: hsl(240, 10%, 90%) solid 1px;
        border-radius: 5px;
        box-shadow:
          0 0 1px hsl(240, 40%, 20%),
          0 0 5px hsla(240, 30%, 50%, 0.5) inset;
        box-sizing: border-box;
        color: hsl(240, 20%, 10%);
        font-style: italic;
        font-weight: bold;
        padding: 1px 3px;
        text-align: right;
        text-shadow: hsl(240, 20%, 95%) 0 0 3px;
        transition: all ease-out 1000ms;
      }
      .gauge-value {
        font-size: 120%;
      }
      .subordinate {
        font-size: 90%;
        opacity: 0.7;
      }
    </style>
    <div class="gauge" style="width: {{current | toRatio}}%">
      <span class="gauge-value">{{current | toFixed}}</span><span
        class="subordinate">/{{max}}</span><template
        if="{{extra != null && extra != 0}}">+{{extra | toFixed}}</template>
    </div>
  </template>
  <script type="application/dart" src="gauge.dart"></script>
</polymer-element>