/* Dialog size */
paper-dialog, paper-action-dialog {
  line-height: 18px;
}
paper-dialog::shadow #scroller,
paper-action-dialog::shadow #scroller {
  width: 635px;
}

paper-button[affirmative] {
  background: linear-gradient(
    hsl(240, 40%, 40%),
    hsl(210, 90%, 20%));
  color: white;
  font-weight: bold;
}
paper-button[dismissive] {
  background: linear-gradient(
    hsl(240, 10%, 50%),
    hsl(210, 20%, 30%));
  color: hsl(0, 0%, 90%);
  font-weight: bold;
}

.modal-body > *, paper-dialog > *, paper-action-dialog > * {
  margin-top: 5px;
}
.modal-body > h4, paper-dialog > h4, paper-action-dialog > h4 {
  margin-top: 20px;
}
.modal-body > h5, paper-dialog > h5, paper-action-dialog > h5 {
  margin-top: 10px;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.chart {
  width: 100%;
  height: 400px;
}