.modal-body > * {
  margin-top: 5px;
}
.modal-body > h4 {
  margin-top: 20px;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

button.close {
  background: transparent;
  border: none;
  box-shadow: none;
  color: black;
  opacity: 0.2;
}
button.close:hover {
  opacity: 0.5;
}
button.action {
  background: transparent;
  border: none;
  box-shadow: none;
  color: black;
  font-size: 20px;
  opacity: 0.5;
  padding: 0;
}
button.action:hover {
  font-weight: bold;
  opacity: 0.8;
}
button.cancel {
  background: linear-gradient(
    hsl(240, 10%, 50%),
    hsl(210, 20%, 30%));
  color: hsl(0, 0%, 90%);
}
button.cancel:hover {
  background: linear-gradient(
    hsl(240, 10%, 70%),
    hsl(210, 20%, 40%));
}