div.row {
  box-sizing: border-box;
  width: 100%;
  margin: 0;  /* Cancels bootstrap style. */
}
div.horizontal {
  margin: 0;
  padding: 10px;
}
div.board {
  background: linear-gradient(
    170deg,
    hsl(210, 20%, 100%),
    hsl(210, 20%, 90%));
  border-color: hsl(0, 5%, 80%);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 5px 5px hsla(210, 20%, 70%, 0.2);
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  position: relative;
  text-align: left;
  vertical-align: top;
}
div.horizontal div.board {
  margin: 0;
  width: 100%;
}
div.twoColumn div.column {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  width: 49.5%;
}
div.twoColumn div.board {
  margin: 0;
  width: 100%;
}
div.board > *, div.board > section > * {
  margin-top: 10px;
}
div.board > *:first-child {
  margin-top: 0;
}
div.commandBoard button {
  text-align: center;
  width: 100%;
}
button {
  background-color: hsl(210, 90%, 20%);
  border-color: hsl(210, 30%, 90%);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow:
    0 0 3px hsl(210, 30%, 60%),
    3px 3px 5px hsl(210, 30%, 40%);
  color: white;
  font-family: "Roboto Slab", sans-serif;
  font-size: 0.9em;
  padding: 5px;
  text-align: center;
}
button.horizontal {
  margin-top: 10px;
  width: 100%;
}
button:hover {
  background-color: hsl(210, 90%, 40%);
}
button:active {
  background-color: hsl(90, 90%, 40%);
  box-shadow:
    0 0 3px hsl(210, 30%, 60%),
    3px 3px 5px hsl(210, 30%, 40%),
    inset 0 0 10px hsl(90, 30%, 10%);
}
button[disabled], button[disabled]:hover, button[disabled]:active {
  background-color: hsl(0, 0%, 60%);
  box-shadow:
    0 0 3px hsl(210, 30%, 60%),
    3px 3px 5px hsl(210, 30%, 40%);
}
button.collapse {
  background: none transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  display: inline;
  margin: 0 0 0 0.3em;
  padding: 0;
  text-align: left;
}
input[type=text] {
  border-color: hsl(0, 0%, 80%);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: inset 2px 2px 2px hsl(0, 0%, 90%);
  margin: 0 3px;
  padding: 3px;
}
input[type=text].invalid {
  border-color: hsl(0, 80%, 50%);
  border-width: 3px;
}

h3 {
  color: hsl(210, 30%, 30%);
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 2px hsla(210, 20%, 20%, 0.5);
}
h4 {
  color: hsl(150, 30%, 40%);
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0 0;
  text-shadow: 2px 2px 2px hsla(150, 20%, 20%, 0.5);
}
.hidden {
  display: none !important;
}
ul {
  margin: 10px 0 0;
}
ul {
  line-height: 1.2em;;
}
ul ul {
  color: hsl(0, 0%, 20%);
  font-size: 0.9em;
  margin: 0;
}

div.screenContainer {
  position: relative;
}
#clickMarker {
  height: 128px;
  opacity: 0;
  position: absolute;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transition-property: opacity, transform;
  -webkit-transition-property: opacity, -webkit-transform;
  width: 128px;
}
img#screenshot {
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  width: 100%;
}
img#screenshot.loading {
  box-shadow: 0 0 10px 5px hsla(240, 50%, 50%, 0.8);
}

/* Flexible table. */
div.table {
  background: linear-gradient(
    170deg,
    hsl(180, 50%, 100%),
    hsl(180, 50%, 90%));
  border-collapse: collapse;
  border-color: hsl(210, 20%, 70%);
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 3px 1px hsla(210, 20%, 70%, 0.2);
  box-sizing: border-box;
  display: table;
  font-size: 0.9em;
  margin: 10px 0 0;
  width: 100%;
}
div.table > div.trow {
  display: table-row;
}
div.table > div.trow.thead {
  background-color: hsla(0, 10%, 80%, 0.3);
}
div.trow.thead > div {
  box-shadow: 2px 2px 3px hsla(0, 10%, 10%, 0.3) inset;
  color: hsl(0, 10%, 10%);
  font-weight: bold;
}
div.table > div.trow > div {
  border-color: hsl(210, 20%, 70%);
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: table-cell;
  height: 100%;
  padding: 0.2em 0.4em;
  vertical-align: middle;
  width: 50px;
}
div.table > div.trow > div.description {
  width: auto;
}
div.table > div.trow > div.wide {
  width: 70px;
}
div.table > div.trow > div.wider {
  width: 85px;
}
div.table > div.trow > div.superWide {
  width: 100px;
}
div.table > div.trow > div > div {
  font-size: 90%;
  opacity: 0.7;
}
div.table > div.trow > div > div:first-child {
  font-size: 100%;
  opacity: 1;
}
div.title {
  font-weight: bold;
}
.labelColumn, .labelColumn div, .numberColumn, .numberColumn div {
  text-align: center;
}
.labelColumn div, .numberColumn div {
  width: 100%;
}
.subordinate {
  font-size: 90%;
  opacity: 0.7;
}
