div.trow.fatal {
  background: linear-gradient(
    150deg,
    hsl(0, 0%, 100%),
    hsl(0, 80%, 50%));
  color: hsl(0, 50%, 20%);
}
div.trow.dangerous {
  background: linear-gradient(
    150deg,
    hsl(0, 0%, 100%),
    hsl(30, 80%, 50%));
  color: hsl(30, 50%, 20%);
}
div.trow.good {
  background: linear-gradient(
    150deg,
    hsl(0, 0%, 100%),
    hsl(60, 80%, 80%));
  color: hsl(60, 50%, 20%);
}

.upgradable, .fullyEnhanced {
  font-weight: bold;
}
.upgradable > div:first-child:after,
.fullyEnhanced > div:first-child:after {
  content: "✓";
}
.unlocked:after {
  content: "✗";
}