tr.fatal {
  background: linear-gradient(
    150deg,
    hsla(0, 0%, 0%, 0.0),
    hsla(0, 80%, 60%, 0.5));
  color: hsl(0, 50%, 20%);
}
tr.dangerous {
  background: linear-gradient(
    150deg,
    hsla(0, 0%, 0%, 0.0),
    hsla(30, 80%, 70%, 0.5));
  color: hsl(30, 50%, 20%);
}
tr.good {
  background: linear-gradient(
    150deg,
    hsla(0, 0%, 0%, 0.0),
    hsla(60, 80%, 80%, 0.5));
  color: hsl(60, 50%, 20%);
}

td.labelColumn div, td.numberColumn div {
  width: 100%;
}
td.upgradable, td.fullyEnhanced {
  font-weight: bold;
}
td.upgradable div:first-child:after, td.fullyEnhanced div:first-child:after {
  content: "✓";
}
div.locked:after {
  content: "✓";
}