tr.fatal {
  background: linear-gradient(
    150deg,
    hsl(0, 0%, 100%),
    hsl(0, 80%, 50%));
  color: hsl(0, 50%, 20%);
}
tr.dangerous {
  background: linear-gradient(
    150deg,
    hsl(0, 0%, 100%),
    hsl(30, 80%, 50%));
  color: hsl(30, 50%, 20%);
}
tr.good {
  background: linear-gradient(
    150deg,
    hsl(0, 0%, 100%),
    hsl(60, 80%, 80%));
  color: hsl(60, 50%, 20%);
}

td.upgradable, td.fullyEnhanced {
  font-weight: bold;
}
td.upgradable div:first-child:after, td.fullyEnhanced div:first-child:after {
  content: "✓";
}
div.unlocked:after {
  content: "✗";
}