*.pyc
.buildlog
.cache/
.coverage
__pycache__/
bin/
bin_v*/
client/.pub
client/build/
client/packages
client/pubspec.lock
client/web/dialog/packages
client/web/model/packages
client/web/packages
client/web/predicate/packages
client_deployed/
client_deployed_v*/
docs/_build/
docs/_static/
docs/_templates/
ghostdriver.log
htmlcov/
log.txt
